@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");

:root {
    --blue: #021130;
    --medlightblue: #1c4588;
    --lightblue: #3c81c6;
    --white: #ffff;
    --light-gray: #ececec;
    --deep-gray: #343434;
    --medium-gray: #a7a7a7;
    --whitesmoke: whitesmoke;
    --black: #000000;
    --gray: #c4c4c4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
}

#menu-logo {
    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--medlightblue);
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

#sub-menu {
    width: 100%;
    height: 40px;
    background-color: #05276b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

#sub-menu ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

#sub-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    transition: 0.3s;
}

#sub-menu ul li a:hover {
    background-color: var(--lightblue);
    border-radius: 5px;
}

.hidden {
    transform: translateY(-100%);
    transition: transform 0.6s ease;
}

.hidden2 {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.nav-left {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.nav-left #mi2 {
    cursor: pointer;
    margin-left: 20px;
}

.nav-left ul li #mi2::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-color: #fff;
    border-radius: 1px;
    position: absolute;
    top: 45px;
    left: 265px;
    transition: width 0.5s;
}

.nav-left ul li #mi2:hover::after {
    width: 30px;
}

.nav-left ul li #mi:hover::after {
    width: 30px;
}

.nav-left ul li #mi::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-color: #fff;
    border-radius: 1px;
    position: absolute;
    top: 45px;
    left: 164px;
    transition: width 0.5s;
}

.nav-right {
    width: 300px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav-right i {
    font-size: 30px;
}

.nav-right ul li a i {
    font-size: 18px;
    margin-left: 5px;
}

.box-busca {
    background-color: #ffffff;
    width: 400px;
    height: 35px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 8px;
}

.box-busca .lupa {
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-busca .lupa i {
    font-size: 20px;
}

.box-busca .input-buscar {
    position: absolute;
    left: 50px;
    height: 100%;
    width: 100%;
    line-height: 35px;
}

.box-busca .input-buscar input {
    border: 0;
    outline: 0;
    font-size: 15px;
    width: 80%;
}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
}

footer {
    background-color: var(--blue);
    width: 100%;
    color: white;
    padding: 40px 0;
    margin-top: 70px;
}

footer .linha1 {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 40px 0;
    display: flex;
    padding-bottom: 40px;
    justify-content: space-around;
}

footer .linha1 .box {
    max-width: calc(100% / 4);
}

footer .linha1 .box h3 {
    color: #f20744;
    margin-bottom: 20px;
}

footer .linha1 .box a {
    color: #fff;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 0.9rem;
}

.linha1 .box .redes a {
    display: inline;
    margin-left: 10px;
}

.linha1 .box .redes a i {
    font-size: 20px;
}

.linha1 .box .redes a i.bi-facebook {
    margin-right: 6px;
}

.linha1 .box a :hover {
    color: #f20744;
    font-size: 30px;
}

footer .linha2 img {
    max-width: 100px;
}

footer .linha2 {
    display: flex;
    padding-top: 40px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

footer .linha2 p {
    margin-top: 5px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.tela {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.produto {
    width: 240px;
    height: 340px;
    background-color: rgb(219, 219, 219);
    border-radius: 12px;
    margin: 40px;
    box-shadow: 0 4px 8px rgb(22, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-style: preserve-3d;
}

.infos {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    transform-style: preserve-3d;
    margin-top: 10px;
}

.produto h1 {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.produto img {
    transform-style: preserve-3d;
    transition: 0.5s;
    width: 100%;
    max-height: 120px;
    object-fit: contain;
    flex-grow: 1;
}

.produto:hover {
    transform: translate3d(0, 0, 100px);
    transform-style: preserve-3d;
}

.bi-star,
.bi-star-half,
.bi-star-fill {
    color: #1c4588;
}

.btn-compra {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    background-color: var(--medlightblue);
    color: white;
    margin-left: 5px;
    transform-style: preserve-3d;
}

.btn-compra:hover,
.add-cart:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.btn-compra:hover {
    box-shadow: 0 4px 8px var(--medlightblue);
}

.add-cart:hover {
    box-shadow: 0 4px 8px #f20744;
}

.add-cart {
    width: 30px;
    height: 30px;
    background-color: #f20744;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart > i {
    color: white;
}

.btn-info-compra {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transform-style: preserve-3d;
    margin-top: 10px;
}

.slider {
    width: 800px;
    height: 400px;
    box-shadow: 0 10px 20px rgba(22, 22, 22, 0.658);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 20px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 35px;
    font-weight: 1;
    cursor: pointer;
    color: #dbdbdba6;
    z-index: 2;
}

.nav:hover i {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease;
    border-radius: 50%;
}

.nav.prev {
    left: 10px;
}

.nav.next {
    right: 10px;
}

.cookies-msg {
    width: 80%;
    margin: 40px auto;
    background-color: #dbdbdb;
    border-radius: 15px;
    display: none;
}

.cookies-msg.mostrar {
    display: block;
}

.cookies-msg .cookies-txt {
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

.cookies-msg .cookies-btn {
    margin-left: 30px;
}

.cookies-msg .cookies-btn button {
    background-color: var(--blue);
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    border-radius: 5px;
}

.cookies-msg .cookies-btn button:hover {
    transform: scale(1.1);
}

.cookies-txt > p > i {
    color: brown;
}

#ende {
    margin-bottom: 20px;
}

.cepform {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.432);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.form {
    width: 50%;
    min-width: 400px;
    min-height: 350px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cepinput {
    width: 300px;
    height: 50px;
    border: none;
    margin-top: 20px;
    padding: 8px;
    border-radius: 6px;
    background-color: #fff !important;
    transition: box-shadow 0.2s;
}

.cepinput:focus,
.cepinput:valid:not([name="complemento"]),
.cepinput[name="complemento"]:not(:placeholder-shown) {
    outline: solid 1px gray;
    box-shadow: 2px 2px 10px gray;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 30px;
    gap: 210px;
    width: 85%;
}

.fechar {
    width: 105px;
    height: 34px;
    border-radius: 4px;
    border: none;
    background-color: #fefefe;
    color: #6d6666;
    cursor: pointer;
}

.enviar {
    width: 105px;
    height: 34px;
    border-radius: 4px;
    border: none;
    background-color: #f20744;
    color: white;
    cursor: pointer;
}

.enviar:hover {
    filter: brightness(1.2);
}

.cepform.abrirformcep {
    display: flex;
}

@keyframes abrircep {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: rotate3d(0, 0, 0);
    }
}

.abrirformcep .form {
    animation: abrircep 0.3s;
}

body.bloqueia-scroll {
    overflow: hidden;
}

@media (max-width: 1366px) and (min-width: 768px) {
    .form {
        width: 60%;
    }
    .botoes {
        width: 90%;
    }
}
