@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

:root{
    --blue: #021130;
    --medlightblue:#1C4588;
    --lightblue:#3C81C6;
    --white: #ffff;
    --light-gray:#ECECEC;
    --deep-gray: #343434;
    --medium-gray: #A7A7A7;
    --whitesmoke:whitesmoke;
    --black:#000000;
    --gray:#C4C4C4;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.banner {
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.header{
    background-color: var(--blue);
    height: 60px;
}

.conteiner{
    width: 98%;
    height: 100%;
    margin: auto;
}

.imagem-conteiner{
    position: relative;
    width: 100%;
    height: 100%;
}

.image-list{
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
}

.item{
    min-width: 100%;
    height: 100%;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

